<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
</head>
<body>
<h1>Welcome to User Page</h1>

<a th:href="@{/student}">Navigate to - Student Page</a>

<p>Do some For Each Stuff here</p>

<table>
    <tr>
       <th>Username</th>
        <th>Password</th>
    </tr>
    <tr th:each="user: ${userList}" th:object="${user}">
        <td th:text="*{username}"></td>
        <td th:text="*{password}"></td>
    </tr>

</table>

</body>
</html>